html,body{min-height:100%;}
body
{
		font-family: 'Bernina Sans', 'Arial', sans-serif;
}
.divtable, #filterPanel
{
		 margin: 0 auto;
		 width: 1300px;
}

.deviceRow
{
	background-color: #f8f8f8;
	border: 1px solid black;
	border-radius: 3px;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	padding-top: 5px;
}
.deviceRow:hover
{
		background-color: PaleTurquoise !important;
	cursor: pointer !important;
}
.datarow{
	clear:both;
}
.datarow:hover
{
		
		background-color: PaleTurquoise;
}
.header
{
		border: 1px solid black;
	border-radius: 3px;
	margin: 5px 0px 5px 0px;
		text-align:justify;
		background-color: rgb(194, 217, 192);
}
.colHeader, .colCell
{
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.colHeader
{
	
	text-align: center;
	font-weight: bold;
}
.colCell
{
	cursor: pointer;
	text-align: center;
}
.name
{
		width: 120px;
}
.hostname
{
	width: 200px;
}
.ip
{
	width: 120px;
}
.port
{
	width: 60px;
	text-align: right;
}
.type
{
	width: 60px;
}
.version 
{
	
}
.showDetail
{
	float: right;
	text-align: right;
}
#resultCount
{
	padding-left: 20px;
}

.detailpane
{
		background-color: #f8f8f8;
		padding: 20px;
		text-align: center;
		border-radius: 3px;
		cursor: default;
}
.path
{
		font-family: monospace;
		cursor: text;
}
.pathtable
{
		text-align: left;
		display: flex;
		padding: 20px;
}
.pathheader
{
		padding-right: 10px;
		font-weight: bold;
		display: inline-flex;
}
.pathgroup

{
		width: 50%;
}
.detailheader
{
		display: inline-block;
		align: center;
		width: 100%;
		margin: 0 auto;
		font-weight: bold;
		font-size: 20px;
		padding: 10px;
}
.overview
{
		margin-bottom: 10px;
		margin-top: 10px;
		
}
.showDetaillink
{
		color: navy;
		text-decoration: underline;
		
}
.hideDetaillink
{
		color: navy;
		text-decoration: underline;
		
}
.highlighted
{
		background-color: yellow;
}
#filterinput
{
	width: 1260px;
	margin: 15px;
	font-size: 20px;
	
  -moz-box-sizing: border-box;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid grey;
}
#filterPanel h3, #filterPanel span, #filterPanel p, #filterPanel h1
{
	padding: 0.5em;
	margin: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#filterPanel {
		background: PaleTurquoise;
		padding-bottom: 10px;
}
#filterPanel h1
{
		margin-left: 0px;
}
body
{
     background: -moz-linear-gradient(90deg, #66D2D4 0%, #008080 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008080), color-stop(100%, #66D2D4)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #66D2D4 0%, #008080 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #66D2D4 0%, #008080 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #66D2D4 0%, #008080 100%); /* ie10+ */
    background: linear-gradient(0deg, #66D2D4 0%, #008080 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#66D2D4',GradientType=0 ); /* ie6-9 */ 
}

.devicelinks
{
		text-align:left;
		padding: 0px;
		margin: 0px;
}
.devicelinks li
{
	padding: 5px;
}
.col1
{
		float:left;
		width: 50%;
}
.col2
{
		float: right;
		width: 50%;
}
.propertygroup
{
		width: 100%;
		text-align: left;
}
.propertyheader
{
		padding: 5px;
		font-weight: bold;
		display: inline-flex;
		width: 150px;
		
}
.devicelinks li a
{
	text-decoration: none;
}
.devicelinks li a:hover
{
	text-decoration: underline;
}