<div id="devices-list">
<div class="container">
<div id="filterPanel">

    <h1>DCRUM cluster: {{$ctrl.clusterName}}</h1>
	
	<h3>Filter DCRUM devices</h3>
	<input id="filterinput" ng-model="$ctrl.query.$" placeholder="Search for a device..." />
	<div id="devicetype" ng-init="devicetypes = (devices)">
	<!--<h3>Select device type</h3>
		<ul>
			<li nd-repeat="type in devicetypes"><span>{{$}}</span></li>
		</ul>
			-->
	</div>
	<span>Total number of devices: {{$ctrl.devices.length}}</span>
	
	<span id="resultCount" ng-show="filtered.length < $ctrl.devices.length">Search results: {{filtered.length}}</span>
</div>



<div class="divtable">
<div class="overview">

</div>
<div class="header">
<div class="colHeader name">Device name</div>
<div class="colHeader hostname">Hostname</div>
<div class="colHeader ip">IP address</div>
<div class="colHeader port">Port</div>
<div class="colHeader type">Type</div>
<div class="colHeader version">Version</div></div>
<div class="deviceRow" ng-repeat="device in $ctrl.devices | filter:$ctrl.query:deviceFilter as filtered">
<div class="dataRow" ng-click="isDetailShown = !isDetailShown">
	<div class="colCell name" ng-bind-html="device.name | highlight:$ctrl.query.$" ></div>
	<div class="colCell hostname" ng-bind-html="device.hostname | highlight:$ctrl.query.$" ></div>
	<div class="colCell ip" ng-bind-html="device.ip | highlight:$ctrl.query.$">{{device.ip}}</div>
	<div class="colCell port">{{device.port}}<img class="secureConnection secureConnection_true" src="VisualEditor_-_Icon_-_Secure-link.svg" width="16px" ng-show="{{device.secureConn}}" style="padding-left: 5px;" title="This device uses HTTPS to communicate"/><img class="secureConnection secureConnection_false" src="VisualEditor_-_Icon_-_InSecure-link.svg" width="16px" ng-show="!{{device.secureConn}}" style="padding-left: 5px;" title="This device does not use HTTPS to communicate"/></div>
	<div class="colCell type" ng-bind-html="device.type | highlight:$ctrl.query.$">{{device.type}}</div>
	<div class="colCell version">{{device.version}}
		<span style="font-size: smaller; color: green; padding-left: 5px;">Current</span>
		<span style="font-size: smaller; color: coral; padding-left: 5px;">Newer release available</span>
		<span style="font-size: smaller; color: royalblue; padding-left: 5px;">Pre-release build</span>
		<span style="font-size: smaller; color: crimson; padding-left: 5px;">Unsupported</span>
	</div>
	<div class="colCell showDetail">
		<span class="showDetaillink"  ng-show="!isDetailShown" ng-click="$parent.isDetailShown = true">Show details</span>
		<span class="hideDetaillink"  ng-show="isDetailShown" ng-click="$parent.isDetailShown =false">Hide details</span>
	</div>
</div>
<div class="detailpane" ng-show="isDetailShown">

<div class="col1">
<span class="detailheader">System properties</span> 
<div class="propertygroup"><span class="propertyheader">System status:</span><span style="color: green;" title="This server is currently running">Operational</span></div>
<div class="propertygroup"><span class="propertyheader">System uptime:</span><span>13 days, 4 hours and 6 minutes</span></div>
<div class="propertygroup"><span class="propertyheader">Hostname</span><span>pointman.mynetgear.com</span></div>
<div class="propertygroup"><span class="propertyheader">CI name:</span><span>CI-HP-DCRUM-Pointman</span></div>
<div class="propertygroup"><span class="propertyheader">Server hostname:</span><span>MYHOST1</span></div>
<div class="propertygroup"><span class="propertyheader">Service tag:</span><span>GXHKM3S</span></div>

<div class="propertygroup"><span class="propertyheader">iDRAC IP:</span><span>https://192.168.2.1</span></div>
<div class="propertygroup"><span class="propertyheader">iDRAC URL:</span><span>https://pointman-mgmt.my.domain.local</span></div>

<span class="detailheader">Hardware resources</span> 
<div class="propertygroup"><span class="propertyheader">CPU model</span><span>Intel Core i7 E7420 @ 2.78Ghz</span></div>
<div class="propertygroup"><span class="propertyheader">CPU cores</span><span>12</span></div>
<div class="propertygroup"><span class="propertyheader">Memory:</span><span>256GB</span></div>
<div class="propertygroup"><span class="propertyheader">Hard disks:</span><span>6&nbsp;x&nbsp;400GB&nbsp;SSD</span></div>
<div class="propertygroup"><span class="propertyheader">Disk space usable:</span><span>1.6&nbsp;TB</span></div>
</div>
<div class="col2">
<span class="detailheader">External links</span> 
<ul class="devicelinks">
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open CAS in new window</a></li>
<ul>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open CAS Administrative console in new window</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open CAS Commands console in new window</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open CAS Log console in new window</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open CAS System status report in new window</a></li>
</ul>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open device in RUM Console</a></li>

</ul>

<ul class="devicelinks">
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Open RUM Console</a></li>
<ul>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Devices</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Software services</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Locations</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Alerts</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Users</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">User groups</a></li>
<li><a href="https://192.168.2.103:4183/console/devices/index.xhtml?deviceId={{device.id}}" target="_blank">Licenses</a></li>
</ul>
</ul>
</div>
<span class="detailheader">[{{device.type}}] {{device.name}} folder locations</span> 
<!--
<div class="pathgroup"><span class="pathheader">Local:</span></div><div class="pathgroup"><span class="pathheader">Remote:</span></div>-->
<div class="pathtable">
<div class="pathgroup"><span class="pathheader">Local:</span><span class="path">C:\Program Files\Dynatrace\{{device.type}}</span></div>
<div class="pathgroup"><span class="pathheader">Local:</span><span class="path">C:\Program Files\Dynatrace\{{device.type}}</span></div><div class="pathgroup"><span class="pathheader">Remote:</span><span class="path">\\WIN-34HJNTJFJ56\C$\Program Files\Dynatrace\{{device.type}}</span></div>
</table>
</div>
</div>
</div>
</div>